@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="box">
    <h1 class="center">Stephen Covey's Time Management Matrix</h1>

    <div class="row">
        <div class="col"></div>
        <div class="col">Urgent</div>
        <div class="col">Non-Urgent</div>
    </div>
    <div class="row">
        <div class="col">
            Quadrant 1
            @foreach (var item in ViewBag.Quadrant1)
            {
                <div>@item.YourDataProperty</div>
                <div>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </div>
            }
        </div>
        <div class="col">
            Quadrant 2
            @foreach (var item in ViewBag.Quadrant2)
            {
                <div>@item.YourDataProperty</div>
                <div>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            Quadrant 3
            @foreach (var item in ViewBag.Quadrant3)
            {
                <div>@item.YourDataProperty</div>
                <div>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </div>
            }
        </div>
        <div class="col">
            Quadrant 4
            @foreach (var item in ViewBag.Quadrant4)
            {
                <div>@item.YourDataProperty</div>
                <div>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </div>
            }
        </div>
    </div>
</div>





